{% extends 'pdfapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row m-5">
        <div class="col-md-12">
            <h2>CV Database Profile list</h2>
        </div>
    </div>

    {% for profile in profiles %}
    <div class="row">
        <div class="col-md-6">
            {{profile.name}}
        </div>
        <div class="col-md-3">
            <a href="{% url 'resume' profile.id %}" class="btn btn-warning">Download CV</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'viewresume' profile.id %}" class="btn btn-warning">View CV</a>
        </div>
    </div>
    <hr>
    {% endfor %}



</div>

{% endblock content %}