{% extends 'pdfapp/base.html' %}
{% block content %}

<h2>{{user_profile.name}}</h2>
<h2>{{user_profile.email}}</h2>
<h2>{{user_profile.phone}}</h2>
<hr /> <br />
<p>Summary</p>
<p> {{user_profile.summary}}</p>
<hr />
<p>Skills</p>
<p> {{user_profile.skills}}</p>
<hr />
<p>Education</p>
<ul>
    <li>School: {{user_profile.school}}</li>
    <li> {{user_profile.degree}} from {{user_profile.university}}</li>
</ul>
<hr />
<p>Previous Work:</p>
<p>{{user_profile.previous_work}}</p>

<div class="col-md-3">
    <a href="{% url 'resume' user_profile.id %}" class="btn btn-warning">Download CV</a>
</div>

{% endblock content %}